// 기본 텍스트 컬러 덮어쓰기
body {
  color: $dark-gray !important;  // $dark-gray 변수를 사용하여 기본 텍스트 컬러를 설정
}

// archive__item-title 스타일 덮어쓰기
.archive__item-title {
  color: $darker-gray !important;  // $dark-gray 변수를 사용하여 텍스트 컬러 설정
}

// pagination--pager 스타일 덮어쓰기
.pagination--pager {
  background-color: white !important;  /* 배경색을 흰색으로 설정 */
  border-color: transparent;  /* 투명 테두리 설정 */
}